
body {
  background-color: lightblue;
  background-image: url("Bilder/hemglassbakgrund.png");
  background-repeat: repeat-y;  /* ingen repris? */
  background-size: auto;
  background-position: top 110px right; /* med endast right? Kan inte bestämma mig */
}

img {
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
}

#sverigeflaggaihornet {
  width: 32px;
  height: 20px;
  position: absolute;
  top: 110px;
  right: 5px;
}

#finskaflaggaihornet {
  width: 32px;
  height: 20px;
  position: absolute;
  top: 110px;
  right: 37px;
}

#hemglasslogo {
  max-width: auto;
  max-height: 120px;
}

#hemglass {
  margin-right: 670px;
  margin-top: 20px;
}

#fransverige {
  right: 40px;
  height: 60px;
  width: 60px;
}

#glasspinnarbild {
  max-width: 120px;
  max-height: 130px;
  margin-top: 30px;
}

#glasspinnarbild:hover {
  max-width: 138px;
  max-height: 150px;
  margin-top: 15px;
}

#glassbild {
  max-width: 160px;
  max-height: 170px;
  margin-top: 30px;
}

#glassbild:hover {
  max-width: 188px;
  max-height: 200px;
  margin-top: 15px;
}

#pizzabild {
  max-width: 160px;
  max-height: 170px;
  margin-top: 40px;
}

#pizzabild:hover {
  max-width: 198px;
  max-height: 210px;
  margin-top: 30px; /*används för att få pizzan att bli större i alla riktningar*/
}

#Specialsortmentbild {
  max-width: 150px;
  max-height: 160px;
  margin-top: 20px;
}

#Specialsortmentbild:hover {
  max-width: 179px;
  max-height: 190px;
  margin-top: 5px;
}

.top-container {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;    /* den fylls inte ut hela vägen annars ??*/
  right: 0;
  width: 100%;
  height: 105px;
  background-color: #00588e;
  justify-content: center;
}

.meny-container {
  display: flex;
  justify-content: space-between;
  width: 550px;
  height: 20px;
  background-color: #00588e;
  position: absolute;
  bottom: 25px;
  margin-left: 70px;
}

.overmeny {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 20px;
  background-color: #00588e;
  font-weight: 400;
  font-size: 20px; /*samma som font storleken*/
  color: white;
  font-family: 'Concert One', cursive;
}

.meny-container > a {
  position: relative;
  color: #000;
}

.meny-container > a:hover {
  color: #000;
}

.meny-container > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -8px;
  left: 0;
  background-color: white;
  border-radius: 2px;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.meny-container > a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

a {
  text-decoration: none;
  outline: 0;
  -moz-outline-style: none; /* tar bort "outlinen" runt alla länkar */
}

a:visited {
  color: inherit;
}

.produkt-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 700px;
  height: 1000px;
  margin: auto;
  margin-top: 160px;
  box-shadow: 10px 5px grey;
  border-radius: 20px;
  background-color: white;
  padding: 30px;
  font-family: 'Concert One', cursive;
  font-size: 32px;
  font-weight: 400;
  color: #00588e;
}

.rubrik-parent {
  display: flex;
  background-color: white;
  width: 100%;
  height: 100px;
  align-content: center;
}

.rubrik-left {
  display: flex;
  width: 28%;
}

.rubrik-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44%;
}

.rubrik-right {
  display: flex;
  justify-content: flex-end;
  width: 28%;
}

.produkter {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: -130px;
  background-color: white;
}

.produkt {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 210px;
  margin-top: 50px;
  border-radius: 15px;
  background-color: lightblue;
  border: dotted 5px white;
  box-shadow: 0 0 0 7px lightblue;
  font-size: 22px;
}

@font-face {    /* lokal font, funkar inte så bra på min windows dator, använder font från google-server istället*/
  font-family: "Gloria Hallelujah";
  font-weight: 400;
  font-style: cursive;
  src: url('fonts/GloriaHallelujah.tff');
}
